@page
@model PrivacyModel
@{
    ViewData["Title"] = "LRU";
}
<style>
    #vertical thead, #vertical tbody{
        display:inline-block;
    }
</style>
<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="container w-50">
    <form asp-page-handler="Lru" method="post" style="margin-bottom:100px;">
        <div class="form-group">
            <label for="pageStr">Enter page string</label>
            <input type="text" name="pagesStr" class="form-control" id="pagesStr">
        </div>
        <div class="form-group">
            <label for="capacity">Enter capacity</label>
            <input type="number" name="capacity" class="form-control" id="capacity">
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="collapse">Submit</button>
    </form>
</div>
<hr />
@{

    
        if (Model.LRUModels.Count != 0)
        {
            
    <div class="alert alert-light">
        <h3>Number of faults: <b>@Model.PageFaults</b></h3>
        <table class="table table-striped " id="vertical">
            <thead>
                        @{
                            int counter = 1;
                            foreach (var i in Model.InputPages)
                            {
                        <tr><th scope="col">@i</th></tr>
                                    counter++;
                                }
                            }
                    </thead>
            <tbody class="">
                @{
                    var max = Model.LRUModels.Max(p => p.AllocatedPages.Count);
                    foreach (var model in Model.LRUModels)
                    {
                        <tr>
                            @foreach (var p in model.AllocatedPages)
                            {

                                <th scope="row">@p</th>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
        }
    }
